* {margin: 0;padding: 0}
a{text-decoration: none;}
li{list-style:none;}
body{background-color: #fff}

.head {height: 80px;}
.inhead {width: 1100px;height: 80px;margin: auto;border-bottom: 1px solid #333}
.inhead a{text-decoration: none;color: #333;font-weight: bold;font-size: 18px;}
.inhead p{height: 21px;padding-top: 35px;color: #999;font-size:16px;font-weight: 600}

.nav2{height: 70px;background-color: #fff}
.innav{width: 1100px;height: 70px;margin: auto;}
.img{width:50px;height: 70px;float: left;}
.img img{width: 50px;height: 50px;padding-top: 10px;}
.navleft{float: left;width: 650px;height: 70px;margin: auto;}
.txt1{padding-top: 10px;font-size: 16px;color: #333;padding-left:16px;}
.txt2{font-size: 16px;color: #d33a31;padding-left:16px;padding-top: 4px;}
.navright{width: 400px;height: 70px;float: right;}
.navright input{display: inline-block;cursor: pointer;width: 165px;height: 40px;margin-top: 14px;font-size: 16px;border: 2px solid #d33a31}
.fixnav {position: fixed;margin-left: 80px;top:0}



.main {height: 530px;}
.inmain {width: 1100px;height: 530px;margin:auto;margin-top: 20px;}
.mleft {width: 440px;height: 530px;float: left;position: relative}
.middle {width: 440px;height: 400px;}

.mright {width: 580px;height: 530px;float:right;}
.mright h2{line-height: 34px;color: #333;font-size: 24px;font-weight: normal}
.txt {font-size: 14px;margin-top: 8px;color: #999;}
.price {margin: 20px 0;font-size: 14px;}
.price i,.rmb {font-size: 30px;margin-right: 3px;color: #d33a31;}
.del {font-size: 16px;color: #999;padding-left: 10px;text-decoration: line-through}

.cuxiao{margin: 0;font-size:14px;float: left;width:32px;height: 28px;line-height: 28px; }
.cuxiao1{display:block;width: 500px;height: 28px;line-height: 28px;margin-left:42px; background-color: #fdf5f4;border: 1px solid #f8e2e0;float: left;}
.cuxiao2{border-top: none;border-bottom:none}
.label{padding: 0 3px;border: 1px solid #d33a31;color: #d33a31;margin-left: 8px;}
.http a{color: #328ad4;}
.cheap{display:inline-block; margin-left: 130px;}
.cheap a:hover{text-decoration: underline}
.none{display: none;}
.ul1{position: relative;}
.ul{margin-left:32px;position: absolute}

.tip {width: 580px;height: 34px;padding-top:50px;}
.tip ul li{width: 65px;height: 32px;margin-left: 10px;font-weight: normal;font-size: 14px;color: #333;float: left;line-height: 32px}
.btn:hover{border:1px solid #333}
.btn{width: 65px;height: 32px;color: #333;outline:none;font-weight:normal;background-color: #fff;border: 1px solid #ccc;}
.bt{border:2px solid #d33a31}
.bt1{border:1px solid #ccc}



.sec {margin-top: 18px;height: 32px;}
.sec li {float: left;font-size: 14px;}
.number{width:60px;height:30px;text-align: center;border:1px solid #ccc;border-right: none;border-left:none;}
.sec button {width: 35px;height: 32px;background-color: #fff;outline:none;border: 1px solid #ccc;font-size: 24px;cursor: pointer;line-height: 30px;}

.fw {margin-top: 20px;height: 20px;}
.fw li {float: left;line-height: 20px;margin-right: 28px;color: #333;font-size: 14px;}
.fw li a {text-decoration: none;color: #666;}
.fw li a:hover {text-decoration: underline}
.buy{width: 580px;height: 80px;margin-top:20px;}
.shop{background-color: #fff;color: #d33a31}
.buy input {display: inline-block;cursor: pointer;width: 170px;height: 50px;margin-top: 30px;font-size: 18px;border: 2px solid #d33a31}
.car {background-color: #d33a31;margin-left: 10px;color: #fff}



.text {height:6250px;}
.intext {width: 1100px;height:6250px;margin: auto;margin-top: 50px;}
.tleft {width: 700px;float: left;}
.tright {width: 340px;height: 638px;float: right;}
.top1 {width: 700px;height: 48px;border-bottom: 1px solid #000}
.top1 h1{font-weight: bold;}
.top1_p p{color: red;font-size: 14px}
.top2 {width: 340px;height: 48px;border-bottom: 1px solid #000}
.list {width: 340px;height: 100px;margin-top: 30px;}
.rt {width: 100px;height: 100px;float: left;}
.xq {width: 230px;height: 100px;float: right;font-size: 12px;}
.xq a {color: #333;text-decoration: none;font-size: 14px;}
.xq a:hover {text-decoration: underline;}
.tj {border: 1px solid #d74d45;color: #d74d45;}
.xq p {font-size: 16px;color: #d33a31;padding-top: 40px;}


.hidden_x{display:none;}
/* ////////////////////////////////////////// */

.mleft {width: 440px;
    height: 530px;
    float: left;}

.boxhide,.bigpic-hide {display: none}

.boxshows,.bigpic-show {display: block}

.smallpic {   
    overflow: hidden;
    height: 80px;
    width: 440px;
    position: relative;}

.smallp {
    position: absolute;
    width: 440px;}

.numpic {
    width: 76px;
    height: 76px;
    border: 2px solid #fff}

.span {
    float: left;margin-left: 10px;
    
}

.numpic:hover {
    border: 2px solid red
}

#move {
    position: absolute;
    width: 220px;
    height: 220px;
    background-color: #000;
    opacity: 0.2;
    top: 0;
    left: 0;
    display: none;
    cursor: move;
}

#middlepic {
    position: relative;
    margin-bottom: 20px;
    
}

#bigpic {
    width: 530px;
    height: 530px;
    position: absolute;
    left: 460px;
    top: 0;
    display: none;
    overflow: hidden;
}

#bigpic img {
    width: 880px;
    height: 880px;
    position: absolute;
    left: 0;
    top: 0;
}

